<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>系统提示</title>
	<script src="http://ss.ufubank.com/framecore/jquery-2.1.1.min.js"></script>
	<script src="https://s2.ufubank.com/framecore/layer/layer.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	
</head>
<body>

<div style='width:500px;margin:50px auto;text-align:center;'>
	<form name="form" action="updateUser.do" method="post">
	<input type="hidden" class="form-control" value="${id}" name="id" id="id">
    <div class="form-group">
        <label for="name">用户名:</label>
        <input type="text" class="form-control" value="${name}" name="name" id="name">
    </div>
    <div class="form-group">
        <label for="name">密码: </label>
        <input type="text" class="form-control" value="${password}" name="password" id="password">
    </div>
    <button type="submit" class="btn btn-primary btn-block">提交</button>
</form> 
</div>

</body>
</html>